<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\Logs\ToDoList\nlog-internal.log">

  <targets>
    <target
      xsi:type="File"
      layout="${longdate} [${uppercase:${level}}] ${logger} | ${message}"
      name="api-debug-target"
      filename="C:\Logs\ToDoList\api.Debug.log"
      archiveFileName="C:\Logs\ToDoList\OLD_LOGS\api.{#}.Debug.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd" />

    <target
      xsi:type="File"
      layout="${longdate} [${uppercase:${level}}] ${logger} | ${message}"
      name="api-error-target"
      filename="C:\Logs\ToDoList\api.Error.log"
      archiveFileName="C:\Logs\ToDoList\OLD_LOGS\api.{#}.Error.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyy-MM-dd" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="api-debug-target" />
    <logger name="*" minlevel="Error" writeTo="api-error-target" />
  </rules>
</nlog>